*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;

}

@font-face {
    font-family: gamefont;
    src: url(Press_Start_2P/PressStart2P-Regular.ttf);
}

body{
    font-family: gamefont;
    background-color: black !important;

}



.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}
/*everything below here is just setting up the page, so dont worry about it */

nav {
    text-align:center;
    background:none !important;
    text-transform:uppercase;
    font-family: gamefont;

    margin-left: 20em;
    margin-right: 20em;
}
li {
    text-align:center;
    margin-left: 5em;
    margin-right: 5em;
    transition: .5s color ease-in-out;
    font-family: gamefont;

}



main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.game-quiz-container{
    width: 50rem !important;
    height: 40rem !important;
    background-color: lightgray;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
}

.game-details-container{
    width: 80%;
    height: 5rem !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game-details-container h1{
    font-size: 1.2rem;
}

.game-question-container{
    width: 95%;
    height: 13rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid darkgray;
    border-radius: 25px;
}

.game-question-container h1{
    font-size: 1.1rem;
    text-align: center;
    padding: 3px;
}

.game-options-container{
    width: 100% !important;
    height: 14rem !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: space-around;
}

.game-options-container span{
    width: 50% !important;
    height: 4rem !important;
    border: 2px solid darkgray;
    border-radius: 20px;
    overflow: hidden;
}
span label{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(22, 22, 22);
}

span label:hover{
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: white;
}

input[type="radio"] {
    position: relative;
    display: none;
}


input[type=radio]:checked ~ .option {
    background: paleturquoise;
}

.next-button-container{
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}
.next-button-container button{
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    background: none;
    color: rgb(25, 25, 25);
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
}
.next-button-container button:hover{
    background-color: rgb(143, 93, 93);
}

.modal-container{
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

.modal-content-container{
    height: 20rem;
    width: 25rem;
    background-color: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 25px;
}

.modal-content-container h1{
    font-size: 1.3rem;
    height: 3rem;
    color: lightgray;
    text-align: center;
}

.grade-details{
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.grade-details p{
    color: white;
    text-align: center;
}

.modal-button-container{
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-button-container button{
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(252, 242, 241);
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 20px;
}
.modal-button-container button:hover{
    background-color: rgb(83, 82, 82);
}

@media(min-width : 300px) and (max-width : 350px){
    .game-quiz-container{
        width: 90%;
        height: 80vh;
     }
     .game-details-container h1{
        font-size: 0.8rem;
     }

     .game-question-container{
        height: 6rem;
     }
     .game-question-container h1{
       font-size: 0.9rem;
    }

    .game-options-container span{
        width: 90%;
        height: 2.5rem;
    }
    .game-options-container span label{
        font-size: 0.8rem;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }

    .modal-content-container h1{
        font-size: 1.2rem;
    }
}

@media(min-width : 350px) and (max-width : 700px){
   .game-quiz-container{
       width: 90%;
       height: 80vh;
    }
    .game-details-container h1{
        font-size: 1rem;
    }

    .game-question-container{
        height: 8rem;
    }

    .game-question-container h1{
        font-size: 0.9rem;
     }

    .game-options-container span{
        width: 90%;
    }
    .modal-content-container{
        width: 90%;
        height: 25rem;
    }
    .modal-content-container h1{
        font-size: 1.2rem;
    }
}



@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }

/*ALL*/
body{background-color: black!important;}

#navdiv{
    background-color: black!important;
    color: white!important;
    font-family: 'Courier New', Courier, monospace;
}
#navdiv:hover{
    color:#cd32a4!important;
}

#headerdiv{
    background-color: black;
    padding: 15px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#jsHeader{
    color:#cd32a4;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#introdiv{
    color:white;
    font-size: 20px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 15px;
}

#marsphoto{
    padding: 1px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*PAGE 1*/
#q{
    color:white;
    font-size: 30px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}
#q:hover{
    color:#cd32a4;
    font-weight: bold;
}
#submitbutton {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    align-items: center;
}
#submitbuttondiv{
    padding: 30px;
    align-items: center;
}

/*PAGE 2*/
#formdiv{
    color:#cd32a4;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
}
#formbutton{
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}
#formbuttondiv{
    padding: 30px;
    padding-top: 0px;
}

/*Q Select dropdowns*/
.custom-select{
    position:relative;
    font-family:'Courier New', Courier, monospace;
}

/*Q Select dropdowns*/
.select.selected{
    background-color: blueviolet;
    color: aliceblue;
}

/*Q Select dropdowns*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

/*Q Select dropdowns*/
.select-items div,.select-selected {
    color: #cd32a4;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

/*Q Select dropdowns*/
.select-items div:hover, .same-as-selected {
    background-color: rgba(149, 36, 132, 0.1);
}

.hoverable{
    display:inline-block;
    backface-visibility: hidden;
    vertical-align: middle;
    position:relative;
    box-shadow: 0 0 1px rgba(0,0,0,0);
    transform: translateZ(0);
    transition-duration: .3s;
    transition-property:transform;
}

.hoverable:before{
    position:absolute;
    pointer-events: none;
    z-index:-1;
    content: '';
    top: 100%;
    left: 5%;
    height:10px;
    width:90%;
    opacity:0;
    background: -webkit-radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
    /* W3C */
    transition-duration: 0.3s;
    transition-property: transform, opacity;
}

.hoverable:hover, .hoverable:active, .hoverable:focus{
    transform: translateY(-5px);
}
.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before{
    opacity: 1;
    transform: translateY(-5px);
}
/*everything below here is just setting up the page, so dont worry about it */

nav {
    text-align:center;
    background:none !important;
    text-transform:uppercase;
    font-family: gamefont;

    margin-left: 20em;
    margin-right: 20em;
}
li {
    text-align:center;
    margin-left: 5em;
    margin-right: 5em;
    transition: .5s color ease-in-out;
    font-family: gamefont;

}
@font-face {
    font-family: gamefont;
    src: url(Press_Start_2P/PressStart2P-Regular.ttf);
}
